.row {
    display: flex;
  }
.column {
    flex: 33.33%;
    padding: 5px;
  } 
.DormRoomChef{
    width:25%;
    height:25%;
}
.DormRoomChef2{
    width:25%;
    height:25%;
}
.DormRoomChef3{
    width:25%;
    height:25%;
}

h2{
    text-align: center;

}
h3{
    text-align: center;
}