.menuList{
    display:flex;
    display:grid;
    flex-direction: column;
    box-sizing:border-box;
    align-items: center;
    padding: 25px;
    grid-template-columns: repeat(2,1fr);
    animation: appear 1s ease-in-out;
}
.menuList:hover .description{
    letter-spacing:0.1rem;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    transform: translateY(-100%);
} 
h2{
    color:white;
}

.bread{
    width: 75%;
    height: 75%;
}
.Cheeseburger{
    width: 75%;
    height: 75%;
}
.GoldFishSushi{
    width: 75%;
    height: 75%;
}   
.lemonade{
    width: 75%;
    height: 75%;
}
.pizza{
    width: 75%;
    height: 75%;
}
.spam{
    width: 75%;
    height: 75%;
}

